.glass {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.column {
  min-height: 90%;
  width: 320px;
  margin-left: 54px;
  border-radius: 32px;
}

.main {
  flex: 1;
  margin-right: 54px;
}

.search {
  margin-left: auto;
  height: 48px;
  width: 220px;
  border-radius: 30px;
}

.download {
  height: 48px;
  width: 125px;
  border-radius: 35px;
}

.location-text {
  color: white;
  font-size: 18px;
}

span {
  color: rgb(124 131 136);
}

.temp {
  color: white;
  font-size: 5rem;
  font-weight: 300;
}

.temperature-container {
  margin-top: 40px;
}

.today {
  width: 100px;
  border-radius: 35px;
  font-size: 20px;
}

.high {
  margin-bottom: 8px;
}

.today-left {
  margin-left: 8px;
  color: rgb(137, 137, 137);
}

.today-right-high,
.today-right-low {
  margin-right: 8px;
}

.right-info {
  margin-left: auto;
  width: 360px;
  font-size: 20px;
}

.recently-searched {
  margin-left: auto;
}

.main-weather {
  font-size: 3.5rem;
  text-wrap: balance;
  line-height: 4.25rem;
}

.main-weather-para {
  color: white;
  height: 170px;
}

.widget {
  width: 175px;
  height: 175px;
  border-radius: 35px;
}

.day-container {
  width: 123px;
}

.days-container > .day-container > p {
  font-size: 1.5rem;
}

.days-container > .day-container > p.degrees {
  font-size: 2.5rem;
}

.search-img {
  margin-right: 12px;
  margin-left: auto;
  cursor: pointer;
}

#search-input {
  margin-left: 20px;
}

.column-title {
  font-size: 2rem;
  padding-top: 2.5rem;
}

.column p {
  font-size: 1.5rem;
}

.sunrise-sunset-container {
  padding: 16px;
  margin-top: 4rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 80%;
  border-radius: 25px;
}

.hourly-container {
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 80%;
  border-radius: 25px;
  margin: 8px auto 0;
  padding: 16px;
}

.widget-location {
  font-size: 1.125rem;
}

.widget-temperature {
  font-size: 1.625rem;
}
