.glass {
  background: rgba(255, 255, 255, 0.1); /* semi-transparent layer */
  color: white;
  backdrop-filter: blur(16px); /* this creates the frosted blur effect */
  -webkit-backdrop-filter: blur(7px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* soft glass border */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.column {
  height: 800px;
  width: 320px;
  margin-left: 54px;
  border-radius: 32px;
}

.main {
  height: 800px;
  flex: 1;
  margin-right: 54px;
}

.search {
  margin-left: auto;
  height: 48px;
  width: 48px;
  border-radius: 10000px;
}

.download {
  height: 48px;
  width: 160px;
  border-radius: 35px;
}

.location-text {
  color: white;
  font-size: 18px;
}

span {
  color: rgb(185, 191, 196);
}

.temp {
  color: white;
  font-size: 5rem;
  font-weight: 300;
}

.temperature-container {
  margin-top: 40px;
}

.today {
  width: 100px;
  border-radius: 35px;
  font-size: 20px;
}

.high {
  margin-bottom: 8px;
}

.today-left {
  margin-left: 8px;
  color: rgb(137, 137, 137);
}

.today-right {
  margin-right: 8px;
}

.right-info {
  margin-left: auto;
  width: 360px;
  font-size: 20px;
}

.recently-searched {
  margin-left: auto;
}

.main-weather {
  font-size: 5rem;
  width: 800px;
  text-wrap: balance;
  line-height: 5rem;
}

.main-weather-para {
  color: rgb(204, 204, 204);
  height: 170px;
}

.widget {
  width: 175px;
  height: 175px;
  border-radius: 35px;
}
