body {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-bar {
  display: flex;
  gap: 12px;
  align-items: center;
}
