body {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-bar {
  display: flex;
  gap: 12px;
  align-items: center;
}

.left-temp {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.today {
  display: flex;
  justify-content: space-between;
}

.temperature-container {
  display: flex;
  align-items: center;
}

.recent-container {
  display: flex;
  gap: 10rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.see-all {
  display: flex;
  align-items: center;
  margin-right: 8;
}

.main-weather-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widgets-container {
  display: flex;
  gap: 0.75rem;
}

.svg-temp-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 24px 0;
}
