@import './reset.css';
@import './typography.css';
@import './layout.css';
@import './components.css';

body {
  margin: 0;
  height: 100vh;
  background-image: url('../assets/images/cloudy.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
