@import './reset.css';
@import './typography.css';
@import './layout.css';
@import './components.css';

body {
  margin: 0;
  height: 100vh;
  background-image: url('../assets/images/very-cloudy.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.loading {
  position: fixed;
  inset: 0;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 1000;
}
