@import './reset.css';
@import './typography.css';
@import './layout.css';
@import './components.css';

body {
  margin: 0;
  height: 100vh; /* Fill the visible viewport */
  background-image: url('../assets/images/very-cloudy.jpg');
  background-size: cover; /* Scale to cover the screen */
  background-position: center; /* Keep it centered */
  background-repeat: no-repeat; /* Avoid tiling */
  background-attachment: fixed; /* Keeps it still when resizing */
}
